#textthing{
  font-size: 10vw;
  font-family: "Monsieur La Doulaise", serif;
  text-align: center;
  top: 40%;
}
#uhbody{
  background-color: #6315f5;
}
#gxmes{
  text-align: center;
  font-family: "Open Sans", serif;
  position: absolute;
  top: 50%;
}